[Unit]
# By default 'simple' is used, see also https://www.freedesktop.org/software/systemd/man/systemd.service.html#Type=
# Type=simple|forking|oneshot|dbus|notify|idle
Description=Run ad-hoc check script, if jumper set, chip goes ad-hoc, if not it remains in infrastructure mode.
## make sure we only start the service after network is up
#After=network.target

[Service]
## here we can set custom environment variables
Environment=AUTOSSH_GATETIME=0
#Environment=AUTOSSH_PORT=0
ExecStart=/root/check-adhoc.sh
#ExecStop=/usr/bin/pkill -9 xxx
# don't use 'nobody' if your script needs to access user files
# (if User is not set the service will run as root)
#User=nobody

# Useful during debugging; remove it once the service is working
#StandardOutput=syslog

[Install]
WantedBy=multi-user.target
